<%= render 'shared/header', title: @question.question_title %>

<p class="q-content"><%= @question.question_content %></p>

<% if @question.comments.any? %>
  <h4>Responses</h4>
  <% @question.comments.each do |comment| %>
  <p> <%= comment.comment_content %> </p>
    <% if current_user.id == comment.user_id %>
    <p>|   <%= link_to "Edit", edit_question_comment_path(@question, comment) %> |
      <%= link_to "Delete", question_comment_path(@question, comment),
                            :data => {:confirm => "You sure?",
                                      :method => "delete"} %> </p>
    <% end %>

  <% end %>

<% else %>

  <br>
  <h4>There are no comments. Click below to add a comment.</h4>
<% end %>

<%= link_to "Respond now!", new_question_comment_path(@question) %>
