<%= render 'shared/header', title: @user.user_name %>
<%= link_to "Have a Question?", new_question_path, class:"btn, btn-success" %>


<% if current_user.questions.any? %>
<h4>Your Questions:</h4>
<ul>
  <% current_user.questions.each do |question| %>
    <li>  <%= link_to question.question_title, question_path(question) %> : <%= question.created_at %> |
      <%= link_to "Edit", edit_question_path(question) %> |
      <%= link_to "Delete", question_path(question),
                            :data => {:confirm => "You sure?",
                                      :method => "delete"} %>
      <ul>
        <li> <%= question.question_content %></li>
      </ul>
    </li>
    <% end %>
</ul>
  <% else %>
  <br>
    <h4>
      Write your first question!
    </h4>
  <% end %>
